/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
/*input::-ms-clear{display:none;}*/
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/



/*header*/
.header{
    padding-top: 26px;
    /*padding-left: 350px;*/
}
.header--container{
    width: 420px;
    height: 200px;
    margin: 0 auto;
}
.header--title{
    padding-bottom: 40px;
}
.title{
    font-size: 55px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: #000;
    font-family: 'Italianno', cursive;
}
.title--line{
    border-bottom: 1px #FCAC45 solid;
    width: 276px;
    margin-left: 73px;
}
.header--navigation{
    display: flex;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    transition: transform 0.2s ease;
}
.navigation--content{
    margin-right: 89px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #000;
}
.header--navigation :last-child {
    margin-right: 0px;
}
.header--navigation a:hover{
    text-decoration: underline #FCAC45;
    position: relative;
    transform: translateY(-2px);
    transition: transform 0.2s ease;
}



/*content*/
.content{
    padding-bottom: 32px;
}
/*hat*/
.hat{
    padding-bottom: 200px;
}
.hat--container{
    padding: 255px 314px;
    text-align: center;
    background-image: url("images/river-6519572_1280 1.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hat--title{
    color: #FFF;
    font-family: 'Italianno', cursive;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hat--text{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/*About_Us*/
.about_Us{
    padding-bottom: 168px;
}
.about_Us--container{
    display: flex;
    max-width: 986px;
    margin: 0 auto;
}
.about_Us--content{
    padding-right: 116px;
}
.title--container{
    width: 146px;
}
.about_Us--content--title{
    color: #000;
    font-family: 'Italianno', cursive;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /*padding-bottom: 22px;*/
    border-bottom: 1px #FCAC45 solid;
}

.about_Us--content--text_up{
    padding-top: 22px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 580;
    line-height: normal;
    padding-bottom: 29px;
}
.about_Us--content--text_down{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 580;
    line-height: normal;
    padding-bottom: 53px;
}
.about_Us--content--button{
    border: 1px #000 solid;
    width: 101px;
    height: 29px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.button{
    background-color: #FFFFFF;
    width: 101px;
    height: 27px;
}
.button:hover{
    background-color: ghostwhite;
    transition: 0.2s;
}
.image_cook{
    height: 363px;
    border-radius: 50%;
}


/*Menu*/


/*Pasta*/
.menu{

}
.menu--container--pasta{
    /*border-bottom: 2px solid  #FCAC45;*/
    /*margin: 0 auto;*/
}
.menu--title{
    text-align: center;
    padding-bottom: 50px;
    color: #000;
    font-family: 'Italianno', cursive;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.menu--pasta{
    max-width: 986px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 57px;
    border-bottom: 2px solid  #FCAC45;
}
.pasta--image{
    padding-right: 112px;
}
.image--pasta{
    border-radius: 10%;
}
.pasta--title{
    color: #000;
    font-family: 'Italianno', cursive;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-bottom: 8px;
}
.pasta--content{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-bottom: 22px;
}
.pasta--price{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}


/*rissoto*/
.menu--rissoto{
    max-width: 986px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 57px;
    padding-top: 57px;
    border-bottom: 2px solid  #FCAC45;
}

.rissoto--image{
    padding-right: 112px;
}
.image--rissoto{
    border-radius: 10%;
}
.rissoto--title{
    color: #000;
    font-family: 'Italianno', cursive;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-bottom: 8px;
}
.rissoto--content{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-bottom: 22px;
}
.rissoto--price{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

/*lasagna*/

.menu--lasagna{
    width: 986px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 57px;
    border-bottom: 2px solid  #FCAC45;
    padding-top: 57px;
}
.lasagna--image{
    padding-right: 112px;
}
.image--lasagna{
    border-radius: 10%;
}
.lasagna--title{
    text-align: center;
    color: #000;
    font-family: 'Italianno', cursive;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.lasagna--content{
    text-align: center;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.lasagna--price{
    text-align: center;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.lasagna--button{
    display: flex;
    justify-content: center;
    padding-top: 57px;
}
.button--lasagna{
    border: 1px #000000 solid;
    width: 101px;
    height: 29px;
    background-color: #FFFFFF;
}
.button--lasagna:hover{
    transition: 0.2s;
    background-color: ghostwhite;

}
.main--line{
    border-bottom: 1px #FCAC45 solid;
    padding-top: 120px;
}



/*footer*/
.foooter{
    padding-bottom: 80px;
}
.footer--container{
    max-width: 1041px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer--location{

}
.footer--location--title{
    color: #000;
    font-family: 'Italianno', cursive;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-bottom: 20px;
}
.footer--location--text{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    text-align: center;
    padding-bottom: 21px;
}
.footer--location--adress{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    text-align: center;
}

.footer--opening_hours{
    border-left: 1px solid #FCAC45;
    height: 155px;
    padding-left: 150px;
}

.footer--opening_hours--title{
    color: #000;
    font-family: 'Italianno', cursive;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-bottom: 20px;
}
.footer--opening_hours--text{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    text-align: center;
}
.footer--sociale{
    border-left: 1px solid #FCAC45;
    height: 155px;
    padding-left: 150px;
}
.footer--sociale--title{
    color: #000;
    font-family: 'Italianno', cursive;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-bottom: 20px;
}
.footer--sociale--text{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    text-align: center;
}
.footer--container p{
    padding-bottom: 21px;
}
.footer--container p:last-child{
    padding-bottom: 0px;
}


.footer{
    background-color: #FFFFFF;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}
.footer_text{
    font-size: 12px;
    letter-spacing: 0.3px;
}
.content{
    flex: 1 1 auto;
}
.wrapper{
    flex: 1;
}


